src/main/mule/ontable.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="db65716e-9b62-4202-b47b-0007f52fe00b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345" database="salesforce" />
	</db:config>
	<flow name="ontableFlow" doc:id="c15d8e1b-e639-415a-b95f-e75c1d430a42" >
		<db:listener table="leads" doc:name="On Table Row" doc:id="ba77a87e-e987-4eea-b7d5-16a8ae3b7a0a" config-ref="Database_Config" watermarkColumn="id">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="f1d0cfa8-6a10-4bb0-a714-64cda97b6f79" message="#[payload]"/>
	</flow>
</mule>
